<div class="sf-reset">
<ol class="traces list-exception">
{% for i, trace in traces %}
    {% set prefix = prefix|default('') %}
    {% set trace = trace|merge({
        type: trace.type|default,
        class: trace.class|default, 
        short_class: trace.class|default|split('\\')|last,
        args: []
        }) %}
    <li>
        {% if trace.function %}
            at
            <strong>
                <abbr title="{{ trace.class }}">{{ trace.short_class }}</abbr>
                {{ trace.type ~ trace.function }}
            </strong>
            ({{ trace.args|format_args }})
        {% endif %}
        {% if trace.file is defined and trace.file and trace.line is defined and trace.line %}
            {{ trace.function ? '<br />' : '' }}
            in {{ trace.file|format_file(trace.line) }}&nbsp;
            {% spaceless %}
            <a href="#trace-{{ prefix ~ '-' ~ i }}" onclick="toggle(this);Sfjs.toggleClass(this, 'toggleicon--open');return false;" class="toggleicon {{ source == i ? 'toggleicon--open' : '' }}"></a>
            {% endspaceless %}
            <div id="trace-{{ prefix ~ '-' ~ i }}" style="display: {{ source == i ? 'block' : 'none' }}" class="trace">
                {{ trace.file|file_excerpt(trace.line) }}
            </div>
        {% endif %}
    </li>
{% endfor %}
</ol>
</div>
