{% block tree %}
    {% if id is not defined %}
        <div class="tree__header">
            <div class="tree__col"><span></span>Info</div>
            {% for label in ['Count', 'Query time', 'Hydration time', 'Total time', 'Memory'] %}
                <div
                    class="tree__col"
                    onclick="javascript:sortTable(this, {{ loop.index }}, 'tree-{{ id|default('root') }}', '.tree__row>.tree__col', 'ul')"
                    style="cursor: pointer"><span></span>{{ label }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <ul class="tree" id="tree-{{ id|default('root') }}">
        {% for node in nodes %}
            {% set values = node.getValues(true) %}
            {% set querySource = node.trace.query_source|default(false) %}
            {% set isLeaf = not node.containsBranch()  %}
            {% set trace = querySource ? node.parent.trace : node.trace %}
            {% set query = isLeaf ? values[0] : null %}
            {% set queryId = isLeaf ? query.trace_hash~query.sql_hash : null %}
            <li id="tree-{{ id|default('root') }}-row-{{ loop.index0 }}" data-query="{{ queryId }}" class="{{ isLeaf ? 'tree__leaf' : '' }}">
                <div class="tree__row">
                    <div class="tree__col">
                        <a href="#tree-{{ node.id }}"  onclick="toggleClass(this.parentNode.parentNode.parentNode, 'tree--open');return false;" class="tree__toggle">
                            {% if not isLeaf %}
                                <span class="tree__switch"></span>
                            {% endif %}

                            {% if trace.function %}
                                <strong>
                                    <abbr title="{{ trace.class|default() }}">{{ trace.class|default()|split('\\')|last }}</abbr>
                                    {{- trace.type|default() ~ trace.function -}}
                                </strong>
                            {% endif %}
                        </a>

                        {% if node.trace.file is defined and node.trace.file and node.trace.line is defined and node.trace.line %}
                            <em>in {{ node.trace.file|format_file(node.trace.line) }}</em><br>
                        {% endif %}
                        {% if isLeaf %}
                            <a href="#query-{{ queryId }}" class="text-small" onclick="highlightRow('#query-{{ queryId }}')">Jump to query</a> &nbsp;&nbsp;
                            <a href="#" onclick="Popup.load('#sql-{{ queryId }}');return false;" class="text-small">Show query</a> &nbsp;&nbsp;
                            <a href="#" onclick="Popup.load('#original-query-{{ queryId }}');return false;" class="text-small">View runnable query</a> &nbsp;&nbsp;
                            <a href="{{ path('_profiler', {panel: 'doctrine_profiler', token: token, page: 'trace', id: queryId}) }}" class="text-small"  onclick="Popup.load(this.href);return false;">Show trace</a>
                            <div style="display:none" id="sql-{{ queryId }}">
                                {{ query.sql|doctrine_pretty_query() }}
                                <div>
                                    <strong class="font-normal text-small">Parameters</strong>: {{ query.params|yaml_encode }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="tree__col">
                        {{ valueAccessor.sum(node,'count') }}
                    </div>
                    <div class="tree__col">
                        {{ '%0.2f'|format(valueAccessor.sum(node, 'execution_time')*1000) }}&nbsp;ms
                        <br><span class="percval">({{ total_query_time ? (valueAccessor.sum(node, 'execution_time')/total_query_time*100)|round(2) : 0 }}%)</span>
                    </div>
                    <div class="tree__col">
                        {{ '%0.2f'|format(valueAccessor.sum(node, 'hydration_time')*1000) }}&nbsp;ms
                        <br><span class="percval">({{ total_hydration_time ? (valueAccessor.sum(node, 'hydration_time')/total_hydration_time*100)|round(2) : 0 }}%)</span>
                    </div>
                    <div class="tree__col">
                        {{ '%0.2f'|format((valueAccessor.sum(node, 'execution_time')+valueAccessor.sum(node,'hydration_time'))*1000) }}&nbsp;ms
                        <br><span class="percval">({{ total_time ? ((valueAccessor.sum(node, 'hydration_time')+valueAccessor.sum(node, 'execution_time'))/total_time*100)|round(2) : 0 }}%)</span>
                    </div>
                    <div class="tree__col">
                        {{ (valueAccessor.sum(node, 'memory')/1024)|round }}&nbsp;KB
                        <br><span class="percval">({{ (valueAccessor.sum(node, 'memory')/total_memory*100)|round(2) }}%)</span>
                    </div>
                </div>

                {% if not isLeaf %}
                    {% set id = node.id %}
                    {% set tmp = nodes %}
                    {% set nodes = nodes.children %}
                    {{block('tree')}}
                    {% set nodes = tmp %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock tree %}
